In [1]:
import pandas as pd                  # For dataframes and data manipulation
import numpy as np

data = pd.read_csv('data_df.csv')

In [2]:
df = data.copy()
df

,year_month,country,county,uid,uid_code,uidear,county_code,adolescent_10_24_receiving_fp_new,adolescent_10_24_receiving_fp_revisits,adults_25+_receiving_fp_services_new,...,iud_stock_dispensed,iud_stock_at_hand,iud_stock_requested,iud_stock_received,eligible_fp,"core_health_workforce_per_10,000population",Demand_Satisfied_by_Modern_Methods (%),"mCPR (Married Women, %)","Teenage Pregnancy Rate (15-19, %)","Total Unmet Need (Married Women, %)"
0,202412,Kenya,Kwale,N7YETT3A9r1,202412_N7YETT3A9r1,2024_N7YETT3A9r1,KE_County_2,821,2065,877,...,0,0,0,0,248890.26,NaN,NaN,NaN,NaN,NaN
1,202412,Kenya,Migori,fVra3Pwta0Q,202412_fVra3Pwta0Q,2024_fVra3Pwta0Q,KE_County_44,6551,5177,1602,...,0,0,0,0,372197.00,NaN,NaN,NaN,NaN,NaN
2,202412,Kenya,Muranga,ahwTMNAJvrL,202412_ahwTMNAJvrL,2024_ahwTMNAJvrL,KE_County_21,612,1179,997,...,0,0,0,0,308647.00,NaN,NaN,NaN,NaN,NaN
3,202412,Kenya,Kericho,ihZsJ8alvtb,202412_ihZsJ8alvtb,2024_ihZsJ8alvtb,KE_County_35,1007,1538,1675,...,0,0,0,0,306614.00,NaN,NaN,NaN,NaN,NaN
4,202412,Kenya,Embu,PFu8alU2KWG,202412_PFu8alU2KWG,2024_PFu8alU2KWG,KE_County_14,331,996,378,...,0,0,0,0,196151.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6199,201401,Kenya,Nakuru,ob6SxuRcqU4,201401_ob6SxuRcqU4,2014_ob6SxuRcqU4,KE_County_32,0,0,0,...,40,677,262,33,404645.00,NaN,NaN,NaN,NaN,NaN
6200,201401,Kenya,Isiolo,bzOfj0iwfDH,201401_bzOfj0iwfDH,2014_bzOfj0iwfDH,KE_County_11,0,0,0,...,0,0,0,0,36982.00,NaN,NaN,NaN,NaN,NaN
6201,201401,Kenya,Migori,fVra3Pwta0Q,201401_fVra3Pwta0Q,2014_fVra3Pwta0Q,KE_County_44,0,0,0,...,17,271,1500,30,204480.00,NaN,NaN,NaN,NaN,NaN
6202,201401,Kenya,Wajir,CeLsrJOH0g9,201401_CeLsrJOH0g9,2014_CeLsrJOH0g9,KE_County_8,0,0,0,...,0,0,0,0,112405.00,NaN,NaN,NaN,NaN,NaN
6203,201401,Kenya,Kirinyaga,Ulj33KBau7V,201401_Ulj33KBau7V,2014_Ulj33KBau7V,KE_County_20,0,0,0,...,242,1435,473,97,137342.00,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['year_month', 'country', 'county', 'uid', 'uid_code', 'uidear',
       'county_code', 'adolescent_10_24_receiving_fp_new',
       'adolescent_10_24_receiving_fp_revisits',
       'adults_25+_receiving_fp_services_new',
       'adults_25+_receiving_fp_services_revisits', 'condoms_new',
       'condoms_revisits', 'traditional_new', 'pills_new', 'pills_revisits',
       'traditional_revisits', 'injectable_new', 'injectable_revisits',
       'traditional', 'implants_new', 'implants_revisits', 'iucd_new',
       'iucd_revisits', 'surgical_new', 'surgical_revisits', 'condoms',
       'pills', 'injectables', 'implants', 'iucd', 'surgical',
       'total_modern_fp', 'total_cyp', 'periodid', 'periodname',
       'pills_combined_oral_contraceptive_stock_losses',
       'pills_combined_oral_contraceptive_stock_dispensed',
       'pills_combined_oral_contraceptive_stock_at_hand',
       'pills_combined_oral_contraceptive_stock_requested',
       'pills_combined_oral_contraceptive_stock_received',
       'pills_emergency_pill_stock_losses',
       'pills_emergency_pill_stock_dispensed',
       'pills_emergency_pill_stock_at_hand',
       'pills_emergency_pill_stock_requested',
       'pills_emergency_pill_stock_received',
       'pills_progestin_only_pills_stock_losses',
       'pills_progestin_only_pills_stock_dispensed',
       'pills_progestin_only_pills_stock_at_hand',
       'pills_progestin_only_pills_stock_requested',
       'pills_progestin_only_pills_stock_received',
       'condoms_female_condom_stock_losses',
       'condoms_female_condom_stock_dispensed',
       'condoms_female_condom_stock_at_hand',
       'condoms_female_condom_stock_requested',
       'condoms_female_condom_stock_received',
       'condoms_male_condom_stock_losses',
       'condoms_male_condom_stock_dispensed',
       'condoms_male_condom_stock_at_hand',
       'condoms_male_condom_stock_requested',
       'condoms_male_condom_stock_received', 'injectables_stock_losses',
       'injectables_stock_dispensed', 'injectables_stock_at_hand',
       'injectables_stock_requested', 'injectables_stock_received',
       'implants_stock_losses', 'implants_stock_dispensed',
       'implants_stock_at_hand', 'implants_stock_requested',
       'implants_stock_received', 'iud_stock_losses', 'iud_stock_dispensed',
       'iud_stock_at_hand', 'iud_stock_requested', 'iud_stock_received',
       'eligible_fp', 'core_health_workforce_per_10,000population',
       'Demand_Satisfied_by_Modern_Methods (%)', 'mCPR (Married Women, %)',
       'Teenage Pregnancy Rate (15-19, %)',
       'Total Unmet Need (Married Women, %)'],
      dtype='object')

In [4]:
df['mCPR (Married Women, %)'].value_counts()

mCPR (Married Women, %)
0.7     1
4.8     1
65.8    1
67.4    1
71.0    1
69.0    1
26.5    1
30.2    1
41.0    1
63.2    1
60.6    1
41.6    1
56.0    1
64.6    1
72.9    1
64.9    1
62.9    1
46.9    1
72.6    1
62.5    1
32.5    1
66.0    1
57.5    1
57.1    1
54.9    1
58.6    1
54.8    1
22.9    1
63.3    1
60.3    1
74.9    1
57.3    1
55.2    1
66.1    1
22.6    1
31.0    1
40.9    1
60.0    1
66.8    1
56.9    1
12.6    1
63.9    1
4.2     1
68.0    1
44.8    1
57.6    1
58.9    1
Name: count, dtype: int64

In [5]:
print(df['mCPR (Married Women, %)'].isna().sum())

6157

In [6]:
df.columns[df.isna().all()]

Index(['core_health_workforce_per_10,000population'], dtype='object')

In [7]:
df['core_health_workforce_per_10,000population'].value_counts()

Series([], Name: count, dtype: int64)

In [8]:
#Feature engineering
#Dropping columns with only Nan values
df = df.drop(columns=df.columns[df.isna().all()])

In [9]:
df.columns[df.isna().all()]

Index([], dtype='object')

In [10]:
from os import replace
#Dropping irrelevant columns
df.drop(['country','uid_code','uidear'], axis=1, inplace=True)

In [11]:
#Extracting county code from county code column
df['county_code'] = df['county_code'].str.extract(r'KE_County_(\d+)').astype(int)

In [12]:
df

,year_month,county,uid,county_code,adolescent_10_24_receiving_fp_new,adolescent_10_24_receiving_fp_revisits,adults_25+_receiving_fp_services_new,adults_25+_receiving_fp_services_revisits,condoms_new,condoms_revisits,...,iud_stock_losses,iud_stock_dispensed,iud_stock_at_hand,iud_stock_requested,iud_stock_received,eligible_fp,Demand_Satisfied_by_Modern_Methods (%),"mCPR (Married Women, %)","Teenage Pregnancy Rate (15-19, %)","Total Unmet Need (Married Women, %)"
0,202412,Kwale,N7YETT3A9r1,2,821,2065,877,4726,127,99,...,0,0,0,0,0,248890.26,NaN,NaN,NaN,NaN
1,202412,Migori,fVra3Pwta0Q,44,6551,5177,1602,5577,731,488,...,0,0,0,0,0,372197.00,NaN,NaN,NaN,NaN
2,202412,Muranga,ahwTMNAJvrL,21,612,1179,997,4373,174,402,...,0,0,0,0,0,308647.00,NaN,NaN,NaN,NaN
3,202412,Kericho,ihZsJ8alvtb,35,1007,1538,1675,2138,226,80,...,0,0,0,0,0,306614.00,NaN,NaN,NaN,NaN
4,202412,Embu,PFu8alU2KWG,14,331,996,378,3938,96,68,...,0,0,0,0,0,196151.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6199,201401,Nakuru,ob6SxuRcqU4,32,0,0,0,0,706,1122,...,0,40,677,262,33,404645.00,NaN,NaN,NaN,NaN
6200,201401,Isiolo,bzOfj0iwfDH,11,0,0,0,0,167,89,...,0,0,0,0,0,36982.00,NaN,NaN,NaN,NaN
6201,201401,Migori,fVra3Pwta0Q,44,0,0,0,0,1217,1313,...,0,17,271,1500,30,204480.00,NaN,NaN,NaN,NaN
6202,201401,Wajir,CeLsrJOH0g9,8,0,0,0,0,264,128,...,0,0,0,0,0,112405.00,NaN,NaN,NaN,NaN
6203,201401,Kirinyaga,Ulj33KBau7V,20,0,0,0,0,54,62,...,1,242,1435,473,97,137342.00,NaN,NaN,NaN,NaN

In [13]:
# convert it to a string
df['year_month'] = df['year_month'].astype(str)

# Extract year and month
df['year'] = df['year_month'].str[:4].astype(int)
df['month'] = df['year_month'].str[4:].astype(int)
df

,year_month,county,uid,county_code,adolescent_10_24_receiving_fp_new,adolescent_10_24_receiving_fp_revisits,adults_25+_receiving_fp_services_new,adults_25+_receiving_fp_services_revisits,condoms_new,condoms_revisits,...,iud_stock_at_hand,iud_stock_requested,iud_stock_received,eligible_fp,Demand_Satisfied_by_Modern_Methods (%),"mCPR (Married Women, %)","Teenage Pregnancy Rate (15-19, %)","Total Unmet Need (Married Women, %)",year,month
0,202412,Kwale,N7YETT3A9r1,2,821,2065,877,4726,127,99,...,0,0,0,248890.26,NaN,NaN,NaN,NaN,2024,12
1,202412,Migori,fVra3Pwta0Q,44,6551,5177,1602,5577,731,488,...,0,0,0,372197.00,NaN,NaN,NaN,NaN,2024,12
2,202412,Muranga,ahwTMNAJvrL,21,612,1179,997,4373,174,402,...,0,0,0,308647.00,NaN,NaN,NaN,NaN,2024,12
3,202412,Kericho,ihZsJ8alvtb,35,1007,1538,1675,2138,226,80,...,0,0,0,306614.00,NaN,NaN,NaN,NaN,2024,12
4,202412,Embu,PFu8alU2KWG,14,331,996,378,3938,96,68,...,0,0,0,196151.00,NaN,NaN,NaN,NaN,2024,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6199,201401,Nakuru,ob6SxuRcqU4,32,0,0,0,0,706,1122,...,677,262,33,404645.00,NaN,NaN,NaN,NaN,2014,1
6200,201401,Isiolo,bzOfj0iwfDH,11,0,0,0,0,167,89,...,0,0,0,36982.00,NaN,NaN,NaN,NaN,2014,1
6201,201401,Migori,fVra3Pwta0Q,44,0,0,0,0,1217,1313,...,271,1500,30,204480.00,NaN,NaN,NaN,NaN,2014,1
6202,201401,Wajir,CeLsrJOH0g9,8,0,0,0,0,264,128,...,0,0,0,112405.00,NaN,NaN,NaN,NaN,2014,1
6203,201401,Kirinyaga,Ulj33KBau7V,20,0,0,0,0,54,62,...,1435,473,97,137342.00,NaN,NaN,NaN,NaN,2014,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6204 entries, 0 to 6203
Data columns (total 80 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   year_month                                         6204 non-null   object
 1   county                                             6204 non-null   object
 2   uid                                                6204 non-null   object
 3   county_code                                        6204 non-null   int64
 4   adolescent_10_24_receiving_fp_new                  6204 non-null   int64
 5   adolescent_10_24_receiving_fp_revisits             6204 non-null   int64
 6   adults_25+_receiving_fp_services_new               6204 non-null   int64
 7   adults_25+_receiving_fp_services_revisits          6204 non-null   int64
 8   condoms_new                                        6204 non-null   int64
 9   condoms_revisits                                   6204 non-null   int64
 10  traditional_new                                    6204 non-null   int64
 11  pills_new                                          6204 non-null   int64
 12  pills_revisits                                     6204 non-null   int64
 13  traditional_revisits                               6204 non-null   int64
 14  injectable_new                                     6204 non-null   int64
 15  injectable_revisits                                6204 non-null   int64
 16  traditional                                        6204 non-null   int64
 17  implants_new                                       6204 non-null   int64
 18  implants_revisits                                  6204 non-null   int64
 19  iucd_new                                           6204 non-null   int64
 20  iucd_revisits                                      6204 non-null   int64
 21  surgical_new                                       6204 non-null   int64
 22  surgical_revisits                                  6204 non-null   int64
 23  condoms                                            6204 non-null   int64
 24  pills                                              6204 non-null   int64
 25  injectables                                        6204 non-null   int64
 26  implants                                           6204 non-null   int64
 27  iucd                                               6204 non-null   int64
 28  surgical                                           6204 non-null   int64
 29  total_modern_fp                                    6204 non-null   int64
 30  total_cyp                                          6204 non-null   int64
 31  periodid                                           6204 non-null   int64
 32  periodname                                         6204 non-null   object
 33  pills_combined_oral_contraceptive_stock_losses     6204 non-null   int64
 34  pills_combined_oral_contraceptive_stock_dispensed  6204 non-null   int64
 35  pills_combined_oral_contraceptive_stock_at_hand    6204 non-null   int64
 36  pills_combined_oral_contraceptive_stock_requested  6204 non-null   int64
 37  pills_combined_oral_contraceptive_stock_received   6204 non-null   int64
 38  pills_emergency_pill_stock_losses                  6204 non-null   int64
 39  pills_emergency_pill_stock_dispensed               6204 non-null   int64
 40  pills_emergency_pill_stock_at_hand                 6204 non-null   int64
 41  pills_emergency_pill_stock_requested               6204 non-null   int64
 42  pills_emergency_pill_stock_received                6204 non-null   int64
 43  pills_progestin_only_pills_stock_losses            6204 non-null   int64
 44  pills_progestin_only_pills_stock_dispensed         6204 non-null   int64
 45  pills_progestin_only_pills_stock_at_hand           6204 non-null   int64
 46  pills_progestin_only_pills_stock_requested         6204 non-null   int64
 47  pills_progestin_only_pills_stock_received          6204 non-null   int64
 48  condoms_female_condom_stock_losses                 6204 non-null   int64
 49  condoms_female_condom_stock_dispensed              6204 non-null   int64
 50  condoms_female_condom_stock_at_hand                6204 non-null   int64
 51  condoms_female_condom_stock_requested              6204 non-null   int64
 52  condoms_female_condom_stock_received               6204 non-null   int64
 53  condoms_male_condom_stock_losses                   6204 non-null   int64
 54  condoms_male_condom_stock_dispensed                6204 non-null   int64
 55  condoms_male_condom_stock_at_hand                  6204 non-null   int64
 56  condoms_male_condom_stock_requested                6204 non-null   int64
 57  condoms_male_condom_stock_received                 6204 non-null   int64
 58  injectables_stock_losses                           6204 non-null   int64
 59  injectables_stock_dispensed                        6204 non-null   int64
 60  injectables_stock_at_hand                          6204 non-null   int64
 61  injectables_stock_requested                        6204 non-null   int64
 62  injectables_stock_received                         6204 non-null   int64
 63  implants_stock_losses                              6204 non-null   int64
 64  implants_stock_dispensed                           6204 non-null   int64
 65  implants_stock_at_hand                             6204 non-null   int64
 66  implants_stock_requested                           6204 non-null   int64
 67  implants_stock_received                            6204 non-null   int64
 68  iud_stock_losses                                   6204 non-null   int64
 69  iud_stock_dispensed                                6204 non-null   int64
 70  iud_stock_at_hand                                  6204 non-null   int64
 71  iud_stock_requested                                6204 non-null   int64
 72  iud_stock_received                                 6204 non-null   int64
 73  eligible_fp                                        6204 non-null   float64
 74  Demand_Satisfied_by_Modern_Methods (%)             47 non-null     float64
 75  mCPR (Married Women, %)                            47 non-null     float64
 76  Teenage Pregnancy Rate (15-19, %)                  47 non-null     float64
 77  Total Unmet Need (Married Women, %)                47 non-null     float64
 78  year                                               6204 non-null   int64
 79  month                                              6204 non-null   int64
dtypes: float64(5), int64(71), object(4)
memory usage: 3.8+ MB

In [15]:
(df.isna().sum() / len(df)) * 100

year_month                              0.000000
county                                  0.000000
uid                                     0.000000
county_code                             0.000000
adolescent_10_24_receiving_fp_new       0.000000
                                         ...
mCPR (Married Women, %)                99.242424
Teenage Pregnancy Rate (15-19, %)      99.242424
Total Unmet Need (Married Women, %)    99.242424
year                                    0.000000
month                                   0.000000
Length: 80, dtype: float64

In [16]:
# filling the NaN values with 0
df.fillna(0, inplace=True)

In [17]:
df['total_new_fp_users'] = (
    df['adolescent_10_24_receiving_fp_new'] +
    df['adults_25+_receiving_fp_services_new']
)

df['fp_demand_ratio'] = df['total_new_fp_users'] / df['eligible_fp']
df['revisit_to_new_ratio'] = (
    df['adolescent_10_24_receiving_fp_revisits'] /
    (df['adolescent_10_24_receiving_fp_new'] + 1)
)

In [18]:
df

,year_month,county,uid,county_code,adolescent_10_24_receiving_fp_new,adolescent_10_24_receiving_fp_revisits,adults_25+_receiving_fp_services_new,adults_25+_receiving_fp_services_revisits,condoms_new,condoms_revisits,...,eligible_fp,Demand_Satisfied_by_Modern_Methods (%),"mCPR (Married Women, %)","Teenage Pregnancy Rate (15-19, %)","Total Unmet Need (Married Women, %)",year,month,total_new_fp_users,fp_demand_ratio,revisit_to_new_ratio
0,202412,Kwale,N7YETT3A9r1,2,821,2065,877,4726,127,99,...,248890.26,0.0,0.0,0.0,0.0,2024,12,1698,0.006822,2.512165
1,202412,Migori,fVra3Pwta0Q,44,6551,5177,1602,5577,731,488,...,372197.00,0.0,0.0,0.0,0.0,2024,12,8153,0.021905,0.790140
2,202412,Muranga,ahwTMNAJvrL,21,612,1179,997,4373,174,402,...,308647.00,0.0,0.0,0.0,0.0,2024,12,1609,0.005213,1.923328
3,202412,Kericho,ihZsJ8alvtb,35,1007,1538,1675,2138,226,80,...,306614.00,0.0,0.0,0.0,0.0,2024,12,2682,0.008747,1.525794
4,202412,Embu,PFu8alU2KWG,14,331,996,378,3938,96,68,...,196151.00,0.0,0.0,0.0,0.0,2024,12,709,0.003615,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6199,201401,Nakuru,ob6SxuRcqU4,32,0,0,0,0,706,1122,...,404645.00,0.0,0.0,0.0,0.0,2014,1,0,0.000000,0.000000
6200,201401,Isiolo,bzOfj0iwfDH,11,0,0,0,0,167,89,...,36982.00,0.0,0.0,0.0,0.0,2014,1,0,0.000000,0.000000
6201,201401,Migori,fVra3Pwta0Q,44,0,0,0,0,1217,1313,...,204480.00,0.0,0.0,0.0,0.0,2014,1,0,0.000000,0.000000
6202,201401,Wajir,CeLsrJOH0g9,8,0,0,0,0,264,128,...,112405.00,0.0,0.0,0.0,0.0,2014,1,0,0.000000,0.000000
6203,201401,Kirinyaga,Ulj33KBau7V,20,0,0,0,0,54,62,...,137342.00,0.0,0.0,0.0,0.0,2014,1,0,0.000000,0.000000

Baseline model

In [19]:
#Imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [21]:
# Drop non-predictive columns
drop_cols = ['county', 'uid', 'fp_demand_ratio']

X = df.drop(columns=drop_cols)
y = df['fp_demand_ratio']

# Identify feature types
categorical_cols = ['county_code']
numeric_cols = X.select_dtypes(include='number').columns.difference(categorical_cols).tolist()

# Preprocessing pipeline
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols),
    ('num', 'passthrough', numeric_cols)
])
# Linear Regression pipeline
linear_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Fit model
linear_pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = linear_pipeline.predict(X_test)
rmse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Linear Regression Baseline")
print("RMSE:", rmse)
print("RÂ² Score:", r2)

Linear Regression Baseline
RMSE: 2.746180925874058e-06
RÂ² Score: 0.8896816077899221